<nav class="nav-container">
    <a class="menu" href="/">AGENDA</a>

    <div class="list-main">
        <ul class="list-content">
            <li class="list-item">
                <a class="item" href="formlogin">ENTRAR</a>
            </li>
        </ul>
    </div>
</nav>