<nav class="nav-container">
    <a class="menu" href="/">AGENDA</a>

    <div class="list-main">
        <ul class="list-content">
            <% if(!user) { %>
                <li class="list-item">
                    <a class="item" href="/formlogin">ENTRAR</a>
                </li>
            <% } else { %>
                <li class="list-item">
                    <a class="item" href="/contato/index">ADICIONAR CONTATO</a>
                </li>
                <li class="list-item">
                    <a class="item" href="/formlogin">LISTA</a>
                </li>
                <li class="list-item">
                    <a class="item" href="/formlogin/logout">SAIR</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>