<%- include('includes/head'); %>
<%- include('includes/nav'); %>

    <section class="session-main">
      <h1>AGENDA DE CONTATOS</h1>
      <p>Aqui você poderá armazenar quantos contatos quiser!</p>
      <figure>
        <img src="assets/js/8aca1cbffe46bb04f0e9.png" alt="lista">
      </figure>
    </section>

<%- include('includes/footer'); %>